<div class="navbar">
    <ul>
      <li><a href="{{ url_for('form') }}">Home</a></li>
      <li><a href="{{ url_for('display_plots') }}">All plots</a></li>
      <li><a href="{{ url_for('Zeroth_Moments') }}">Zeroth Moments</a></li>
      <li><a href="{{ url_for('First_Moments') }}">First Moments</a></li>
      <li><a href="{{ url_for('Second_Moments') }}">Second Moments</a></li>
      <li><a href="{{ url_for('Density_Distribution') }}">Density Distribution</a></li>
    </ul>
    <!-- <a href="{{ url_for('download_data') }}" download>Download Data</a> -->
    <a href="{{ url_for('download_data') }}" target="_blank" >Download Data</a>
   
</div>
 

  